In [1]:
import pandas as pd

In [2]:
train_dataset = pd.read_csv('../dataset/train.csv')
test_dataset = pd.read_csv('../dataset/test.csv')

In [18]:
train_dataset.tail(50)

              Date  store  product  number_sold
230040  2018-11-12      6        9          917
230041  2018-11-13      6        9          906
230042  2018-11-14      6        9          906
230043  2018-11-15      6        9          911
230044  2018-11-16      6        9          915
230045  2018-11-17      6        9          934
230046  2018-11-18      6        9          928
230047  2018-11-19      6        9          917
230048  2018-11-20      6        9          901
230049  2018-11-21      6        9          901
230050  2018-11-22      6        9          906
230051  2018-11-23      6        9          926
230052  2018-11-24      6        9          927
230053  2018-11-25      6        9          925
230054  2018-11-26      6        9          901
230055  2018-11-27      6        9          901
230056  2018-11-28      6        9          905
230057  2018-11-29      6        9          906
230058  2018-11-30      6        9          920
230059  2018-12-01      6        9          914
230060  2018-12-02      6        9          931
230061  2018-12-03      6        9          910
230062  2018-12-04      6        9          900
230063  2018-12-05      6        9          899
230064  2018-12-06      6        9          889
230065  2018-12-07      6        9          934
230066  2018-12-08      6        9          927
230067  2018-12-09      6        9          909
230068  2018-12-10      6        9          903
230069  2018-12-11      6        9          895
230070  2018-12-12      6        9          896
230071  2018-12-13      6        9          889
230072  2018-12-14      6        9          916
230073  2018-12-15      6        9          919
230074  2018-12-16      6        9          915
230075  2018-12-17      6        9          895
230076  2018-12-18      6        9          885
230077  2018-12-19      6        9          880
230078  2018-12-20      6        9          895
230079  2018-12-21      6        9          903
230080  2018-12-22      6        9          931
230081  2018-12-23      6        9          911
230082  2018-12-24      6        9          893
230083  2018-12-25      6        9          888
230084  2018-12-26      6        9          896
230085  2018-12-27      6        9          890
230086  2018-12-28      6        9          892
230087  2018-12-29      6        9          895
230088  2018-12-30      6        9          899
230089  2018-12-31      6        9          912

In [19]:
test_dataset.tail(50)

             Date  store  product  number_sold
25500  2019-11-12      6        9          894
25501  2019-11-13      6        9          893
25502  2019-11-14      6        9          922
25503  2019-11-15      6        9          926
25504  2019-11-16      6        9          922
25505  2019-11-17      6        9          939
25506  2019-11-18      6        9          912
25507  2019-11-19      6        9          912
25508  2019-11-20      6        9          925
25509  2019-11-21      6        9          920
25510  2019-11-22      6        9          931
25511  2019-11-23      6        9          938
25512  2019-11-24      6        9          935
25513  2019-11-25      6        9          908
25514  2019-11-26      6        9          920
25515  2019-11-27      6        9          899
25516  2019-11-28      6        9          928
25517  2019-11-29      6        9          905
25518  2019-11-30      6        9          924
25519  2019-12-01      6        9          922
25520  2019-12-02      6        9          906
25521  2019-12-03      6        9          887
25522  2019-12-04      6        9          892
25523  2019-12-05      6        9          902
25524  2019-12-06      6        9          917
25525  2019-12-07      6        9          939
25526  2019-12-08      6        9          934
25527  2019-12-09      6        9          898
25528  2019-12-10      6        9          911
25529  2019-12-11      6        9          889
25530  2019-12-12      6        9          916
25531  2019-12-13      6        9          910
25532  2019-12-14      6        9          899
25533  2019-12-15      6        9          912
25534  2019-12-16      6        9          893
25535  2019-12-17      6        9          894
25536  2019-12-18      6        9          892
25537  2019-12-19      6        9          897
25538  2019-12-20      6        9          927
25539  2019-12-21      6        9          913
25540  2019-12-22      6        9          930
25541  2019-12-23      6        9          906
25542  2019-12-24      6        9          879
25543  2019-12-25      6        9          897
25544  2019-12-26      6        9          881
25545  2019-12-27      6        9          901
25546  2019-12-28      6        9          926
25547  2019-12-29      6        9          913
25548  2019-12-30      6        9          899
25549  2019-12-31      6        9          886